{
  "extends": "@antfu",
  "rules": {
    "brace-style": ["off"],
    "@typescript-eslint/comma-dangle": ["off"],
    "@typescript-eslint/brace-style": ["off"],
    "no-console": ["off"],
    "antfu/if-newline": ["off"],
    "vue/singleline-html-element-content-newline": ["off"],
    "vue/html-self-closing": ["off"]
  }
}
